---
title: (GL) Bill Wittenberg - Presentations
desc: Guest Lecturer Bill Wittenberg shows us why he's among the top tech presenters out there!
homework: 1) Deliver Draft of Term Project Final Report
---
<%= homework_hdr %>
* **Teams - Draft Term Project Report**: Review the <%= link_to_topic :cs165a_final_deliverables %> and especially the <%= link_to_topic :term_project_report %>. Work together to produce your draft final report. I realize that you still have a lot of time to do more work, so there will be major revisions in the coming weeks. However, this draft should be presentable and readable and do a great job presenting the results of your project so far. <%= team_deliverable "Draft Term Project Report as pdf" %>

#### Guest Lecturer

* Our speaker today is Bill Wittenberg. You can find [information about Bill on LinkedIn.](https://www.linkedin.com/pub/bill-wittenberg/0/1a/7a). You might ask him to link to you on linkedIn!

<hr>

<a class="embedly-card" href="https://www.linkedin.com/pub/bill-wittenberg/0/1a/7a">Bill  Wittenberg | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

#### Key Points
* TBD

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
